<section class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 ml-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                <p class="lead">This template features the 'Lato' font, part of the
                    <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as
                    <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
            </div>
            <div class="col-lg-5 mr-auto ">
                <img class="img-fluid" src="/assets/img/phones.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>
