<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

{% include "blocks/navbar.twig" %}
{% include "blocks/header.twig" %}

{% include "sections/container1.twig" %}
{% include "sections/container2.twig" %}
{% include "sections/container3.twig" %}

{% include "blocks/aside.twig" %}
{% include "blocks/footer.twig" %}

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/popper.js/dist/popper.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
