<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Custom styles for this template -->
    <link href="/assets/css/styles.css" rel="stylesheet">

</head>

<body>

{% include "blocks/navbar.twig" %}
{% include "blocks/header.twig" %}

{% include "sections/container1.twig" %}
{% include "sections/container2.twig" %}
{% include "sections/container3.twig" %}

{% include "blocks/aside.twig" %}
{% include "blocks/footer.twig" %}

<!-- Bootstrap core JavaScript -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>
